.fundo {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    background-color: #d7c1a1;
    padding: 60px 20px;
    font-family: 'Opens Sans', sans-serif;
    overflow: hidden; /*Garante que nada vaze do fundo*/
    height: 190px;
}

.titulo {
    display: grid;
    grid-area: 1 / 2 / -2 / -1;
}
.fundo h1 {
    font-size: 3em;
    color: #5e3b1f;
    margin: 0px;
    font-weight: bold;
    z-index: 1;
    position: relative;
}
.fundo p {
    font-size: 1.2em;
    margin: 10px 0px;
    letter-spacing: 2px;
    z-index: 1;
    position: relative;
}

.shape {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10%;
    width: 260px;
    background-color: black;
    transform: skew(20deg);
    transition: transform 1s ease-in-out;
    z-index: 0;

}
.shape a:hover {
    transform: skewX(-20deg) scale(1.1);
}

@media (min-width: 1200px) {
    .hero {
        padding: 80px 60px;
    }
    .shape {
        width: 280px;
        right: 20%;
    }
    .container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .fundo h1 {
        font-size: 4em;
    }
}