@charset "UTF-8";

@media (min-width: 1200px) {

    .fundo {
        padding: 80px 60px;
    }
    .fundo h1 {
        font-size: 4em;
        color: black;
    }
    .shape {
        width: 280px;
        right: 20%;
    }
    .container {
        max-width: 1200px;
    }

    .links ul li a {
        font-size: 1.3em;
    }

    #menu button {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {

    .fundo h1 {
        text-align: left;
        font-size: 3em;
    }
    .fundo > p {
        text-align: left;
    }
    .links ul li a {
        font-size: 1.3em;
    }
    #menu button {
        display: none;
    }

}

@media (max-width: 768px) {
    .fundo {
        height: 130px;
        padding: 50px 40px;
        max-width: 768px;
    }
    .fundo h1 {
        font-size: 2.5em;
        color: white;
        text-align: end;
    }    
    .fundo > p {
        text-align: end;
    }
    .shape {
        background-color: #35250f;
        left: 12%;
        right: auto;
        width: 120px;
        transform: skew(-20deg);
    }
    .container {
        max-width: 768px;
    }

    .links ul li a {
        display: none;
    }
    #menu {
        display: flex;
        justify-content: flex-start;
        padding-left: 5px;
    }
    #menu button {
        display: block;
    }
    footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }
}


