* {
    margin: 0px;
    padding: 0px;
}
nav {
    background-color: #35250f;
}
#menu {
    
}

button {
    background-color: rgb(255, 255, 255);
    margin: 5px;
    padding: 8px;
    border-radius: 20px;
}

.links ul {
    background-color: white;
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    
}
.links a {
    text-decoration: none;
    
}
main {

}

main h1 {

}
footer {
    text-align: center;
    
}
footer > a {
    text-decoration: none;
}